@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #dc3545;
    --dark-color: #222222;
    --light-color: #78f1f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: rgb(238, 238, 238);
}

a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        color: rgb(61, 136, 102);
    }
}

ul {
    list-style: none;
}

input {
    display: block;
    width: 100%;
    padding: .4rem;
    font-size: 1.2rem;
    border: 1px solid rgb(160, 179, 125);
    outline: none;
    margin-bottom: .5rem;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

table th {
    background: var(--light-color);
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: rgb(46, 74, 92);
    padding: .4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
    transition: opacity .2s;
    outline: none;

    &:disabled {
        background: var(--dark-color);
        color: #fff;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        opacity: .8;
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.text-center {
    text-align: center;
}